<header>
    <div class="logo">E-Medicine</div>
    <nav>
        <ul>
            <li><a href="../pages/customer_home.html">Home</a></li>
            <li><a href="#">Products</a>
                <ul>
                    <li><a href="../pages/medications.html">Medications <b>(Prescribed or Over-the-Counter)</b></a></li>
                    <li><a href="../pages/supplements.html">Supplements <b>(Vitamins & Dietary Supplements)</b></a></li>
                    <li><a href="../pages/personal_care.html">Personal Care <b>(Health & Hygiene)</b></a></li>
                    <li><a href="../pages/medical_equipment.html">Medical Equipment <b>(Healthcare Devices)</b></a></li>
                </ul>
            </li>
            <li><a href="../pages/aboutus.html">About Us</a></li>
            <li><a href="../pages/contact.html">Contact Us</a></li>
            <li><a href="../pages/cart.html">🛒Cart</a></li>
            <li><a href="#">Login/Register</a>
                <ul>
                    <li><a href="../pages/Customer_login.html">Login</a></li>
                    <li><a href="../pages/register.html">Register</a></li>
                </ul>
            </li>
            <li><a href="../pages/customer_profile.html">Profile</a></li>
        </ul>
    </nav>
</header>
